body {
    background-color: #e8e3e3 !important;
}
.upcoming-events h2.main-head-event {
    font-size: 28px;
    font-weight: 700;
    color: #1dbf73;
    text-transform: uppercase;
    margin: 0;
    float: left;
    display: inline-block;
}
.upcoming-events .calendar ul.flex.day {
    width: 100%;
    padding: 0;
    margin: 0;
}
ul.flex.date {
    padding: 0;
    margin: 0;
}
h2.main-head-event:before {
    display: none;
}
.upcoming-events .btn-area.flex {
    float: right;
    margin-top: 0px;
    margin-bottom: 15px;
}
.upcoming-events .head-area .btn {
    width: 40px;
    height: 38px;
    border-radius: 3px;
    background: #fff;
    color: #1dbf73;
    font-size: 20px;
    cursor: pointer;
    line-height: 30px;
    padding: 0;
    margin-left: 10px;
    transition: .3s;
    text-align: center;
}
.upcoming-events .head-area .btn:hover {
    background: #1dbf73;
    color: #fff !important;
}
div#calendar_area {
    position: relative;
}
.loading-calendar{
    opacity: 0.5;
}
ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}
.calendar ul.flex.day li {
    opacity: 1;
}
.display-table {
  display: table;
}
.calendar {
    margin-top: 30px;
    border-radius: 10px;
}
.calendar ul li {
    width: 50%;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #1dbf73;
    list-style: none;
    border-right: 1px solid #1dbf73;
    border-bottom: 1px solid #1dbf73;
    margin: 0;
}
.calendar ul li:last-child {
    border-right: none;
}

.calendar .pre-date {
    opacity: .5;
}

.calendar .day li {
    background: #1dbf73;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 5px;
    list-style: none;
}
.calendar ul li span {
    opacity: .5;
    padding: 2px;
}
.calendar ul li span.recent-date {
    opacity: 1;
}
.calendar ul li.event-date span {
    opacity: 1;
}
.calendar .date li {
    background: #FFF;
    min-height: 150px;
    padding: 20px;
}
.head-area .sub-title-content {
    font-size: 20px;
    font-weight: 300;
    color: #222;
    margin-bottom: 15px;
    padding-left: 26px;
    line-height: 30px;
}
.head-area p.sub-title-content:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 30px;
    border-radius: 5px;
    background-color: #8dc63f;
    left: 15px;
}

.calendar .date .event-date {
    position: relative;
    background: #fff;
    box-shadow: 0 2px 13px 0 rgb(246, 246, 246);
    -webkit-box-shadow: 0px 0px 21px -4px rgba(33, 33, 33, 0.3);
    -moz-box-shadow: 0px 0px 21px -4px rgba(33, 33, 33, 0.3);
    box-shadow: 0px 0px 21px -4px rgba(33, 33, 33, 0.3);
    opacity: 1;
    transition: .3s;
    cursor: pointer;
}

.calendar .date .event-date .date-pos {
    color: #fff;
}

.calendar .date .event-date .info {
    font-size: 14px;
    color: #fff;
    position: absolute;
    left: 10px;
    bottom: 10px;
    line-height: 18px;
    font-weight: 500;
}
.calendar .date .event-date .info a {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #ffffff;
}
.calendar .date .event-date .info a:hover {
    color: #eee;
}
.calendar .date .event-date:nth-child(1) {
    background: #FF025A;
}
.calendar .date .event-date:nth-child(1):hover {
    background: #FF025A;
}
.calendar .date .event-date:nth-child(2) {
  background: #FFC953;
}
.calendar .date .event-date:nth-child(2):hover {
  background: #ecb743;
}
.calendar .date .event-date:nth-child(3) {
  background: #8DC63F;
}
.calendar .date .event-date:nth-child(3):hover {
  background: #81b933;
}
.calendar .date .event-date:nth-child(4) {
  background: #895DFF;
}
.calendar .date .event-date:nth-child(4):hover {
  background: #794fea;
}
.calendar .date .event-date:nth-child(5) {
  background: #FF025A;
}
.calendar .date .event-date:nth-child(5):hover {
  background: #e40452;
}
.calendar .date .event-date:nth-child(6) {
  background: #8DC63F;
}
.calendar .date .event-date:nth-child(6):hover {
  background: #81b933;
}
.calendar .date .event-date:nth-child(7) {
  background: #FFC953;
}
.calendar .date .event-date:nth-child(7):hover {
  background: #ecb743;
}
.show {
    display: block;
    visibility: visible;
}
.calendar .date .event-date .event-intro {
    visibility: hidden;
    position: absolute;
    display: none;
}
.calendar .date .event-date .event-intro img{
    width: 100%;
}
.calendar .date .event-date:hover .event-intro {
    visibility: visible;
    left: calc(100% + 1px);
    background: #fff;
    top: 0;
    z-index: 9;
    font-size: 20px;
    width: 342px;
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    display: inline-block;
}
.event-content {
    padding: 24px 24px 30px;
}
.event-content h2 {
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 900;
}
.event-intro .event-content p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: normal;
    color: #333;
    font-weight: 400;
}

.event-date .event-intro .event-content h2 a {
    color: #1dbf73;
    text-decoration: none !important;
    text-transform: none;
}
.event-date .event-intro .event-content h2 {
    margin: 0;
}
.event-content a.btn {
    border: none;
    color: #000000;
    font-size: 14px;
}
.event-content a.btn:hover {
    border: none;
    color: #5cc074;
}

button{
  display:inline-block;
  vertical-align:middle;
  border-radius:30px;
  margin:.20rem;
  font-size: 1rem;
  color:#666666;
  background:   #ffffff;
  border:1px solid #666666;
}

button:hover{
  border:1px solid #666666;
  background:#666666;
  color:#ffffff;
}

/* Event Details */
.event-content img.cover-img.img-responsive {
    margin-bottom: 58px;
        border-radius: 10px;
}
.event-content h2.event-title {
    font-size: 30px;
    font-weight: 900;
    line-height: 1.17;
    letter-spacing: normal;
    color: #1dbf73;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.event-content p {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: normal;
    color: #1dbf73;
}
.intro-text p.locaion {
    margin: 0;
    color: #1dbf73;
    opacity: 1;
    margin-bottom: 20px;
}
.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner .6s linear infinite;
}
@keyframes spinner {
    to {transform: rotate(360deg);}
}
.upcoming-events {
  max-width: 100% !important;
}
.entry .entry-content > * {
    max-width: 100% !important;
}
.upcoming-events .btn.prev,
.upcoming-events .btn.next {
    text-decoration: none;
    font-size: 18px;
    padding: 4px;
}

/* Calender View */
.event-date .event-content h2:before {
  display: none;
}

.calendar ul.flex.date li.event-date:last-child .event-intro {
    left: -330px;
}

/* Event Listing */
.single-event-listing {
    background: #fff;
    box-shadow: 0 3px 6px 1px #0000001a;
    margin-bottom: 30px;
}
.single-event-listing h2 {
    font-size: 24px;
}
.single-event-listing h2:before {
    display: none;
}
.single-event-listing img {
    width: 100%;
}
.single-event-listing a {
    display: block;
}
.single-event-listing .title-wrap {
    display: block;
    padding: 14px;
    line-height: normal;
}

@media (max-width: 767px){
    .calendar .date .event-date .info {
        display: none;
    }
    .calendar .date li {
        min-height: inherit;
        padding: 20px 20px 20px 20px;
    }
    .calendar .date .event-date:hover .event-intro {
        left: 50%;
        top: 0;
        width: 265px;
        display: block;
        transform: translate(-50%, 15%);
    }
}
@media (max-width: 414px){
    .calendar .date li {
        min-height: inherit;
        padding: 12px 6px;
        width: 52px;
        text-align: center;
        font-size: 12px;
    }
}
